<?xml version="1.0" ?>
<robot name="joint1_v2_test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find joint1_v2_test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find joint1_v2_test_description)/urdf/joint1_v2_test.trans" />
<xacro:include filename="$(find joint1_v2_test_description)/urdf/joint1_v2_test.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.2767625784878296 0.2150000000670351 0.033213980218757516" rpy="0 0 0"/>
    <mass value="6.687868051572627"/>
    <inertia ixx="0.13023" iyy="0.258091" izz="0.310631" ixy="-0.0" iyz="-0.0" ixz="-0.035486"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="joint2_v2_v1_1_1_1">
  <inertial>
    <origin xyz="-0.11791323673615445 -1.3340856197530115e-11 -0.018891220411172416" rpy="0 0 0"/>
    <mass value="0.15844726509442633"/>
    <inertia ixx="3.7e-05" iyy="0.000592" izz="0.000589" ixy="-0.0" iyz="-0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.506 -0.215 -0.432" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint2_v2_v1_1_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.506 -0.215 -0.432" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint2_v2_v1_1_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="joint3_v2_v1_1_1">
  <inertial>
    <origin xyz="-0.05362762201670451 -0.0003453922728737513 -0.019000000042342924" rpy="0 0 0"/>
    <mass value="0.0499021828107056"/>
    <inertia ixx="9e-06" iyy="1.7e-05" izz="1.8e-05" ixy="-0.1" iyz="0.1" ixz="-0.1"/>
  </inertial>
  <visual>
    <origin xyz="-0.31125 -0.215 -0.432" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint3_v2_v1_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.31125 -0.215 -0.432" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint3_v2_v1_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="joint4_v2_v1_1">
  <inertial>
    <origin xyz="-0.11837720826506 0.02102354229057693 3.0597647283636675e-06" rpy="0 0 0"/>
    <mass value="0.15708361734063608"/>
    <inertia ixx="3.6e-05" iyy="0.000605" izz="0.000607" ixy="-2e-06" iyz="-0.1" ixz="0.1"/>
  </inertial>
  <visual>
    <origin xyz="-0.24275 -0.196 -0.413" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint4_v2_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.24275 -0.196 -0.413" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint4_v2_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="joint5_v2_v1_1">
  <inertial>
    <origin xyz="-0.05350802095667652 0.02050977005197102 0.0005816613300090312" rpy="0 0 0"/>
    <mass value="0.04853854037313522"/>
    <inertia ixx="9e-06" iyy="1.8e-05" izz="1.7e-05" ixy="0.1" iyz="0.1" ixz="0.1"/>
  </inertial>
  <visual>
    <origin xyz="-0.04425 -0.198898 -0.413" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint5_v2_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04425 -0.198898 -0.413" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint5_v2_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="joint6_v2_v1_1">
  <inertial>
    <origin xyz="-0.0435171948215432 -0.00019854913444272704 0.00016085386451575312" rpy="0 0 0"/>
    <mass value="0.05714495248280274"/>
    <inertia ixx="2.1e-05" iyy="2.5e-05" izz="1.2e-05" ixy="-0.0" iyz="0.0" ixz="3e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.02425 -0.219398 -0.432" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint6_v2_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.02425 -0.219398 -0.432" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find joint1_v2_test_description)/meshes/joint6_v2_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="joint1" type="revolute">
  <origin xyz="0.506 0.215 0.432" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="joint2_v2_v1_1_1_1"/>
  <axis xyz="0 0 1" />
  <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
</joint>

<joint name="joint2" type="revolute">
  <origin xyz="-0.19475 0.0 0.0" rpy="0 0 0"/>
  <parent link="joint2_v2_v1_1_1_1"/>
  <child link="joint3_v2_v1_1_1"/>
  <axis xyz="0 0 1" />
  <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
</joint>

<joint name="joint3" type="revolute">
  <origin xyz="-0.0685 -0.019 -0.019" rpy="0 0 0"/>
  <parent link="joint3_v2_v1_1_1"/>
  <child link="joint4_v2_v1_1"/>
  <axis xyz="0 1 0" />
  <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
</joint>

<joint name="joint4" type="revolute">
  <origin xyz="-0.1985 0.002898 0.0" rpy="0 0 0"/>
  <parent link="joint4_v2_v1_1"/>
  <child link="joint5_v2_v1_1"/>
  <axis xyz="0 1 0" />
  <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
</joint>

<joint name="joint5" type="revolute">
  <origin xyz="-0.0685 0.0205 0.019" rpy="0 0 0"/>
  <parent link="joint5_v2_v1_1"/>
  <child link="joint6_v2_v1_1"/>
  <axis xyz="0 0 1" />
  <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
</joint>

</robot>
