<?xml version="1.0" ?>
<robot name="test410" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test410_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test410_description)/urdf/test410.trans" />
<xacro:include filename="$(find test410_description)/urdf/test410.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.2767625784878296 0.2150000000670351 0.033213980218757516" rpy="0 0 0"/>
    <mass value="6.687868051572627"/>
    <inertia ixx="0.13023" iyy="0.258091" izz="0.310631" ixy="-0.0" iyz="-0.0" ixz="-0.035486"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find test410_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find test410_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
